body{
	background-color: black;
	color: white;
	font-family: "Oswald-extralight", Oswald, sans-serif;
	font-weight: 800;
	font-stretch: 100%;
	font-style: normal;
	letter-spacing: normal;

}

#head_image{
	width: 100%;
	height: auto;
	opacity: 60%;
	border-style: none;
	z-index: -1;


}
#text_header{
	font-size: 50px;
	text-align: center;
	position: absolute;
  	left: 0%;
  	top: 25%;
  	width: 100%;
  	line-height: 67px;

}
button{
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

}
#header button{
	position: absolute;
	text-align: center;
	justify-content: center;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	border: none;
 	cursor: pointer;
  	
}
div{
	text-align: center;
}


h3{
	font-size: 24px;
	text-align: center;
	position: relative;
  	left: 0%;
  	top: 30%;
  	width: 100%;
}
#stripe{
	width: 100%;
	height: 150px;
	text-align: center;
}
.white_back{
	background-color: white;
	border-style: hidden;
	width: 550px;
	height: 100px;
	text-align: center;
	color:black;
	font-weight: 900;
	font-size: 20px;


}
#table_image{
	width: 550px;
	height: 350px;
	border-style: none;
	vertical-align: sub;
}
#what_you_get{
	table-layout: fixed;
	width: 100%
	border-collapse: collapse;
}

#story{
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	padding-left: 15%;
	padding-right: 15%;
}
#my_photo{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	align-self: center;
	padding: 50px;
}
#learn_with{
	margin:auto; 
	display:block;



}
#review{
	width: 50%
	background-color: white;
	table-layout: fixed;
	align-items: : center;
	margin-left:auto;
	margin-right:auto; 

}
.reviews{
	padding: 10px;
	width: 500px;
	height: 200px;
	background-color: white;
	color: black;
	text-align: center;
	border-right-style: solid 50px,
	font-size: 50px;
	vertical-align: text-top;
	line-height: 1.8;
	padding: 30px;
}
#languages{
	
	font-size: 22px;
	justify-content: center;
    text-align: center;
    word-spacing: 50px;
}
#prices{
	width: 100%;
	padding: 10px;
	background-color: white;
	color: black;
	text-align: center;
	table-layout: fixed;
	align-items: : center;
	margin-left:auto;
	margin-right:auto; 
	font-size: 20px;
	line-height: 3;
}
#red_color{
	color: red;
}
.price{
	font-weight: bolder;
}